{% extends "base.html" %}
{% block site_meta %}
<!-- Google AdSense Code -->
<meta name="google-adsense-account" content="ca-pub-1440105407870599">
<!-- End Google AdSense Code -->
{% endblock %}


{% block extrahead %}
<!-- Google AdSense Code -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1440105407870599"
     crossorigin="anonymous"></script>
<!-- End Google AdSense Code -->
{% endblock %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1440105407870599"
     crossorigin="anonymous"></script>
<!-- adsense1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1440105407870599"
     data-ad-slot="7840657144"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>